<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Zulu Time Conversion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
  </head>
  <body>
    <h1>Zulu Time Converter</h1>
    <h2 id="localTime" style="font-size: 3em; text-align: center"></h2>

    <div class="info-grid">
      <div><span>Local Time Zone: </span><span id="localTimeZone"></span></div>
      <div><span>Current Day: </span><span id="dayOfWeek"></span></div>
      <div><span>Zulu Time: </span><span id="zuluTime"></span></div>
      <div>
        <!-- New div -->
        <span>Current Month: </span><span id="currentMonth"></span>
      </div>
    </div>
    <h3 class="footer">
      Made by
      <a href="https://github.com/abutler911/zulu-time-converter">abutler</a>
    </h3>
    <script type="module" src="/js/app.js"></script>
  </body>
</html>
