body {
  font-family: "VT323", monospace;
  background: linear-gradient(120deg, #333399, #ff00cc);
  background-size: 200% 200%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  color: #fff;
  padding-bottom: 20px;
}

h1,
h2 {
  background: linear-gradient(120deg, #000000, #333399);
  color: white;
  margin: 0;
  padding: 20px;
  text-align: center;
  text-shadow: 3px 3px 5px #000;
  animation: gradient 5s ease infinite, bounceIn 2s ease;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
  font-size: 1.5em;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin: 20px;
  animation: fadeIn 2s ease-out, bounceIn 1s ease;
  margin-bottom: 15px;
}

.info-grid div {
  padding: 20px;
  border-radius: 15px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: pulseAndChangeColor 5s infinite ease;
}
.info-grid div:hover {
  background-color: rgba(255, 0, 204, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.info-grid span {
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.footer {
  text-align: center;
  font-size: 1.2em;
  position: fixed;
  left: -100%;
  bottom: 10px;
  background: rgba(4, 129, 52, 0.1);
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  animation: zoomInFromLeft 3s forwards;
  margin-top: 10px;
}

@keyframes pulseAndChangeColor {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1);
  }
  50% {
    background-color: rgba(255, 0, 204, 0.2);
    transform: scale(1.05);
  }
  100% {
    background-color: rgba(22, 175, 43, 0.1);
    transform: scale(1);
  }
}

@keyframes zoomInFromLeft {
  0% {
    left: -100%;
    transform: scale(0.5);
  }
  80% {
    left: 50%;
    transform: scale(1.2);
  }
  100% {
    left: 50%;
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
